<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="ISO-8859-1">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>hhsHRtracker</title>

  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/menus.css}">
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		
  		    	  		
	</head>

	<body>

  <!-- Navigation -->
  		<div id='hcssmenu'>
			<ul>
			   <li>
			   		<form th:action="@{/hhsHRtracker/assigCerts/list}" method="post">
               			<button type="submit" class="btn btn-light" style="font-size:11px;">Back</button>	
	           			
	           			<input type="hidden" th:value="${client.clientid}" name="id"> 
	           			
	           			<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           			<input type="hidden" th:value="${qperiod}" name="qperiod">
	           			<input type="hidden" th:value="${qproject}" name="qproject">
	           			<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           		</form>
         		</li>
         		
			</ul>
		</div>   
  		
  		<div class="row">&nbsp;</div>
  		
  		<div class="row">
  			<div class="col-lg-2" style="color:#000088;">Add Certificate</div>
  			<div class="col-lg-2" style="color:#000088;"></div>
  		</div>
              
        <div class="row">
             <div class="col-lg-10">        
           		<div class="card">
					<div class="card-body">
						
						<table class="table-condensed table-bordered">					        			
        					<tr>
        						<td noWrap style="padding:5px;"><label style="color:#880000;font-size:11px;" th:text="${quser.username} +' ('+ ${quser.role} +')'"></label></td>
        						<td style="padding:5px;"><label style="color:teal;font-size:11px;" th:text="${qdivision.dname}"></label></td>
        						<td style="padding:5px;"><label style="color:blue;font-size:12px;font-weight: bold;" th:text="${qperiod}"></label></td>
        					</tr>
        				 </table>
        				 <div class="row">&nbsp;</div>
        				 
        				 <label th:text="'To user : '+ ${client.cname}"></label>
        				 
        				 <table><tr><td valign="top">
        				 
        				 	<form class="form-main" th:action="@{/hhsHRtracker/assigCerts/createCert}" th:object="${cert}" method="post">
        				         				       				 
        				 		<table class="table-striped">					        			
        				
        							<tr>
			                    	     
			                    		<td noWrap>
			                       			<label for="project" class="col-form-label">Certificate: <sup>*</sup>:</label> 
			                       			<select th:field="*{certNumber}" id="certNumber">
			                       				<option th:each="cert : ${certs}" th:value="${cert.certNumber}" th:text="${cert.certName}" ></option>
			                       			
			                       			</select>
			                    		</td>
			                    	          
                    				</tr>
                    				<tr><td>&nbsp;</td></tr>
                    				<tr>
			                    		<td>
			                       			<input type="submit" class="btn btn-secondary btn-sm" value=" Submit ">
			                       	
			                       		</td>
                   					</tr>
     							</table>
     			
     							<input type="hidden" name="id" th:value="${client.clientid}">
     					
	     						<input type="hidden" name="qperiod" th:value="${qperiod}">
	     						<input type="hidden" name="qdivisionId" th:value="${qdivision.divisionid}">
	                        	<input type="hidden" name="quserId" th:value="${quser.userid}">	
            				</form>	 	
  					</td><td valign="top">
  					
  					<table class="table table-bordered table-sm table-dark">
  						<thead>
    						<tr>
      							<th colspan="3"><label style="font-size:11px;">Certificates Already Assigned to this employee</th>
     						</tr>
  						</thead>
  						<tbody>
    						<tr th:each="cert,itemNum : ${assigCerts}">
    							<td th:text="${itemNum.count}" style="font-size:12px;padding:5px;"></td>
  								<td th:text="${cert.certName}" style="font-size:12px;"></td>
  								<td th:text="${cert.certNumber}" style="font-size:12px;"></td>	
    						</tr>
        				 </tbody>
        			</table>	 		
               		</div>
           		</div>
       		</div>
                  
     	</div>
       	
	</body>
</html>