<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="ISO-8859-1">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>hhsHRtracker</title>

  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/menus.css}">
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		
  		<!-- Custom scripts for this template -->
  		<script th:src="@{/js/modalDelete.js}"></script>  
    	  		
	</head>

	<body>

  <!-- Navigation -->
  		<div id='hcssmenu'>
			<ul>
			   <li>
			   		<form th:action="@{/clients/edit}" method="post">
               			<button type="submit" class="btn btn-light" style="font-size:11px;">Back</button>	
	           			
	           			<input type="hidden" th:value="${client.clientid}" name="id">
	           				           			        			
	           			<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           			<input type="hidden" th:value="${qperiod}" name="qperiod">
	           			<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           		</form>
         		</li>
         		<li>
			   		<form th:action="@{/clientATs/add}" method="post">
               			<button type="submit" class="btn btn-light" style="font-size:11px;">Assign New Training</button>	
	           			
	           			<input type="hidden" th:value="${client.clientid}" name="id">
	           			
	           			<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           			<input type="hidden" th:value="${qperiod}" name="qperiod">
	           			<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           		</form>
         		</li>
         		<li>
			   		<form th:action="@{/clientATs/createTranscript}" method="post">
               			<button type="submit" class="btn btn-light" style="font-size:11px;">Create Transcript</button>	
	           			
	           			<input type="hidden" th:value="${client.clientid}" name="id">
	           			
	           			<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           			<input type="hidden" th:value="${qperiod}" name="qperiod">
	           			<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           		</form>
         		</li>
         		
			</ul>
		</div>   
  		
  		<div class="row">&nbsp;</div>
  		<label style="color:violet;font-size:8px;" th:text="${qdivision.dnumber}"></label>
  		
  		<table class="table-condensed table-bordered">					        			
        	<tr>
        		<td noWrap style="padding:5px;background-color:lightyellow;"><label style="color:#880000;font-size:11px;" th:text="${quser.username} +' ('+ ${quser.role} +')'"></label></td>
        		<td style="padding:5px;background-color:lightyellow;"><label style="color:teal;font-size:11px;" th:text="${qdivision.dname}"></label></td>
        	</tr>
        </table>
              
        <div class="row">
             <div class="col-lg-12">        
           		<div class="card">
					<div class="card-body">
						
						<div class="row">
						
							<table>
								<tr>
									<td style="color:#006600">Assigned Training for :</td>
									<td th:text="${client.cname}" style="color:#330099"></td>
								</tr>
								<tr>
									<td style="color:#006600">Contract:</td>
									<td th:text="${client.contract} +' ('+ ${contractType} +')'" style="color:#330099;"></td>
								</tr>
								<tr>
									<td style="color:#006600">Title:</td>
									<td th:text="${client.title}" style="color:#330099;"></td>
								</tr>
							</table>
						
  						</div>
						
        				 <div class="row">&nbsp;</div>
        				 <table  class="table-condensed table-striped table-bordered">					        			
        				 	<thead>
  						<tr>
  							<th style="color:#006400;font-size:12px;padding:20px;">#</th>
  							<th style="color:#006400;font-size:12px;text-align:center;padding:20px;">Number</th>
  							<th style="color:#006400;font-size:12px;text-align:center;padding:20px;" noWrap>Definition</th>
  							<th style="color:#006400;font-size:12px;text-align:center;padding:20px;" noWrap>Completed?</th>
  							<th style="color:#006400;font-size:12px;text-align:center;padding:20px;">Date Completion</th>
  							<th style="color:#006400;font-size:12px;text-align:center;padding:20px;">Certificate Received?</th>
  							<th style="color:#006400;font-size:12px;text-align:center;padding:20px;" noWrap>Date Received</th>
  							<th style="color:#006400;font-size:12px;text-align:center;">Edit</th>
  							<th style="color:#006400;font-size:12px;text-align:center;">Delete</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr th:each="training,itemNum : ${trainings}">
  							<td th:text="${itemNum.count}" style="font-size:12px;padding:5px;text-align:center;"></td>
  							<td th:text="${training.trainingNum}" style="font-size:12px;text-align:center;"></td>
  							<td th:text="${training.bufferName}" style="font-size:12px;"></td>
  							<td th:text="${training.completed}" style="font-size:12px;text-align:center;"></td>
  							<td th:text="${training.dateCompletion}" style="font-size:12px;text-align:center;"></td>
  							<td th:text="${training.certReceived}" style="font-size:12px;text-align:center;"></td>
  							<td th:text="${training.dateCertRec}" style="font-size:12px;text-align:center;"></td>
  							<td>
			                       	<form th:action="@{/clientATs/edit}" method="post">
			                            	
				           				<button type="submit" style="border: 0; background: transparent">
			 								<img th:src="@{/icons/iconEdit.png}" width="20" height="20" alt="Edit" />
										</button>	
				           			
				           				<input type="hidden" th:value="${client.clientid}" name="clientId">
	           							<input type="hidden" th:value="${training.recordid}" name="id">
							           	
							           	<input type="hidden" th:value="${quser.userid}" name="quserId"> 
							           	<input type="hidden" th:value="${qperiod}" name="qperiod">
							           	<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
				           						
				           			</form>	
			                                
			                    </td>
  							  							
                            <td>
                                
                            	<form th:action="@{/clientATs/delete}" method="post">
                            	
	           						<button type="submit" style="border: 0; background: transparent;"  onClick="return confirmDelete();">
 										<img th:src="@{/icons/iconDeleteRed.png}" width="20" height="20" alt="Edit"/>
 									</button>	
	           			
	           						<input type="hidden" th:value="${client.clientid}" name="clientId">
	           						<input type="hidden" th:value="${training.recordid}" name="id">
	           							           						  
	           						<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           						<input type="hidden" th:value="${qperiod}" name="qperiod">
	           						<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           						
	           					</form>	
                            	
                            </td>
                                                                                   
  						</tr>	
  					</tbody>	        				 
        				 </table>
               		</div>
           		</div>
       		</div>
                  
     	</div>
       	
	</body>
</html>			
