<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="ISO-8859-1">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>hhsHRtracker</title>

  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/menus.css}">
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		  
    	  		
	</head>

	<body>
  		
  		<div class="container">
  		              
	        <div class="row">
	             <div class="col-lg-4">        
	           		<div class="card">
						<div class="card-body">
						
						<div class="row" style="color:#880000;">HHS HR Tracker</div>
						
						<div th:switch="${path}">
											        			
	        				<form th:case="'findByName'" th:action="@{/clients/findByName}" method="post">
	        			
		        				<table class="table-bordered">
		        					<tr>
		        						<td><label for="title" th:text="${message}" class="col-form-label"> :</label></td> 
		                       	   	</tr>	
		                       		<tr><td colspan="2">&nbsp;</td></tr>
		                       		<tr>
		                       			<td><label style="font-size:10px;" th:text="'Priznak Search is: '+ ${stringSearch}"></label><br>
		                       				<label style="font-size:10px;" th:text="'Path is: '+ ${path}"></label>
		                       			</td>
		                       		</tr>	                       	
		           					<tr><td colspan="2"><input class="btn btn-secondary" type="submit" value="Continue"/></td></tr>
		           				
		           				</table>
		           					           			
		           				<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           					<input type="hidden" th:value="${qperiod}" name="qperiod">
	           					<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           			
	           					<input type="hidden" th:value="${stringSearch}" name="stringSearch">
	           					<input type="hidden" th:value="${path}" name="path">
		           				
							</form>
						
							<form th:case="'findBySelection'" th:action="@{/clients/search}" method="post">
	        			
		        				<table class="table-bordered">
		        					<tr>
		        						<td><label for="title" th:text="${message}" class="col-form-label"> :</label></td> 
		                       	   	</tr>	
		                       		<tr><td colspan="2">&nbsp;</td></tr>
		                       		<tr>
		                       			<td><label style="font-size:10px;" th:text="'Priznak Search is: '+ ${stringSearch}"></label><br>
		                       				<label style="font-size:10px;" th:text="'Path is: '+ ${path}"></label>
		                       			</td>
		                       		</tr>	                       	
		           					<tr><td colspan="2"><input class="btn btn-secondary" type="submit" value="Continue"/></td></tr>
		           				
		           				</table>
		           					           			
		           				<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           					<input type="hidden" th:value="${qperiod}" name="qperiod">
	           					<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           			
	           					<input type="hidden" th:value="${stringSearch}" name="stringSearch">
	           					<input type="hidden" th:value="${path}" name="path">
		           				
							</form>
							
							<form th:case="'neu'" th:action="@{/clients/search}" method="post">
	        			
		        				<table class="table-bordered">
		        					<tr>
		        						<td><label for="title" th:text="${message}" class="col-form-label"> :</label></td> 
		                       	   	</tr>	
		                       		<tr><td colspan="2">&nbsp;</td></tr>
		                       		<tr>
		                       			<td><label style="font-size:10px;" th:text="'Priznak Search is: '+ ${stringSearch}"></label><br>
		                       				<label style="font-size:10px;" th:text="'Path is: '+ ${path}"></label>
		                       			</td>
		                       		</tr>	                       	
		           					<tr><td colspan="2"><input class="btn btn-secondary" type="submit" value="Continue"/></td></tr>
		           				
		           				</table>
		           					           			
		           				<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           					<input type="hidden" th:value="${qperiod}" name="qperiod">
	           					<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           			
	           					<input type="hidden" th:value="${stringSearch}" name="stringSearch">
	           					<input type="hidden" th:value="${path}" name="path">
		           				
							</form>
						
							<form th:case="*" th:action="@{/clients/search}" method="post">
	        			
		        				<table class="table-bordered">
		        					<tr>
		        						<td><label for="title" th:text="${message}" class="col-form-label"> :</label></td> 
		                       	   	</tr>	
		                       		<tr><td colspan="2">&nbsp;</td></tr>
		                       		<tr>
		                       			<td><label style="font-size:10px;" th:text="'Priznak Search is: '+ ${stringSearch}"></label><br>
		                       				<label style="font-size:10px;">Error: Path value is lost at this point</label>
		                       			</td>
		                       		</tr>	                       	
		           					<tr><td colspan="2"><input class="btn btn-secondary" type="submit" value="Continue"/></td></tr>
		           				
		           				</table>
		           					           			
		           				<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           					<input type="hidden" th:value="${qperiod}" name="qperiod">
	           					<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           			
	           					<input type="hidden" th:value="${stringSearch}" name="stringSearch">
	           					<input type="hidden" th:value="${path}" name="path">
		           				
							</form>
						
												  
						</div>
						   	                    
	               		</div>
	           		</div>
	       		</div>
	                  
	     	</div>
       	</div>
	</body>
</html>			
