<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="ISO-8859-1">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>hhsHRtracker</title>

  		<!-- Bootstrap core CSS -->
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/menus.css}">
		<link rel="stylesheet" th:href="@{/css/calendarControl.css}">
		
		<!-- Bootstrap core JavaScript -->
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  		<script th:src="@{/js/calendarControl.js}"></script>
  		    	  		
	</head>

	<body>

  <!-- Navigation -->
  		<div id='hcssmenu'>
			<ul>
			   <li>
			   		<form th:action="@{/contracts/list}" method="post">
               			<button type="submit" class="btn btn-light" style="font-size:11px;">Back</button>	
	           			
	           			<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           			<input type="hidden" th:value="${qperiod}" name="qperiod">
	           			<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           		</form>
         		</li>
         		
         		<li th:if="${priznakNew}=='false'">
			   		<form th:action="@{/contractAPs/list}" method="post">
               			<button type="submit" class="btn btn-light" style="font-size:11px;">Edit Projects</button>	
	           			
	           			<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           			<input type="hidden" th:value="${qperiod}" name="qperiod">
	           			<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           			
	           			<input type="hidden" th:value="${contract.contractid}" name="id" >
	           		</form>
         		</li>
         		
         		<li th:if="${priznakNew}=='false'">
			   		<form th:action="@{/contractATs/list}" method="post">
               			<button type="submit" class="btn btn-light" style="font-size:11px;">Edit Training</button>	
	           			
	           			<input type="hidden" th:value="${quser.userid}" name="quserId"> 
	           			<input type="hidden" th:value="${qperiod}" name="qperiod">
	           			<input type="hidden" th:value="${qdivision.divisionid}" name="qdivisionId">
	           			
	           			<input type="hidden" th:value="${contract.contractid}" name="id" >
	           		</form>
         		</li>
         		
			</ul>
		</div>   
  		
  		<div class="row">&nbsp;</div>
  		
  		<div class="row">
  			<div class="col-lg-6" style="color:#000088;">Add/Edit Contract Information</div>
  		</div>
              
        <div class="row">
             <div class="col-lg-10">        
           		<div class="card">
					<div class="card-body">
						<!--  <label style="color:violet;font-size:9px;" th:text="${contract.contractid}"></label> -->
						<table class="table-condensed table-bordered">					        			
        					<tr>
        						<td noWrap style="padding:5px;"><label style="color:#880000;font-size:11px;" th:text="${quser.username} +' ('+ ${quser.role} +')'"></label></td>
        						<td style="padding:5px;"><label style="color:teal;font-size:11px;" th:text="${qdivision.dname}"></label></td>
        					</tr>
        				 </table>
        				         				 
        				 <table class="table table-striped table-condensed">
        				 	<tr>
        				 		<td>
        				 		 	<form class="form-main" th:action="@{/contracts/createContract}" th:object="${contract}" method="post">
			        				 
			        				 	<table class="table table-striped table-hover">					        			
			        				
			        						<tr>
						                    	<td th:if="${priznakNew}=='true'">
						                       		<label for="contract" class="col-form-label">Contract<sup>*</sup>:</label> 
						                       		<input type="text" th:field="*{contract}" id="contract" required  size="15" maxlength="15"/>
						                    	</td>
						                    	
						                    	<td th:unless="${priznakNew}=='true'">
						                       		<label for="contract" class="col-form-label">Contract<sup>*</sup>:</label> 
						                       		<input type="text" th:field="*{contract}" id="contract" size="15" maxlength="15" readOnly/>
						                    	</td>
			                    				
			                    				<td>	
						     						<label for="projectTypes" class="col-form-label"> Program type :</label> 
						                       		<select th:field="*{typeProject}" id="typeProject">
						                       			<option th:value="*{typeProject}" th:text="*{typeProject}"></option>
						                       			<option th:each="projectType : ${projectTypes}" th:value="${projectType.typeNumber}" th:text="${projectType.type}" ></option>
						                       			<option value=""></option>
						                       		</select> 
						                    	</td>                   	       
						                    	
						                    </tr>
						                    <tr>
						                  
						                    	<td>
						     						<label for="active">Contract Type</label>
						     						<select th:field="*{type}">
											     		<option th:value="*{type}" th:text="*{type}"></option>
											    		<option th:value="'tcp'" th:text="tcp"></option>
											    		<option th:value="'hud'" th:text="hud"></option>
											    		<option th:value="'dc-dhs'" th:text="dc-dhs"></option>
											    		<option th:value="'mc-gov'" th:text="mc-gov"></option>
											    		<option th:value="'private'" th:text="private"></option>
											    		<option th:value="'self'" th:text="self"></option>
						     						</select>    						
												</td>
												
												<td>
						     						<label for="active">Status</label>
						     						<select th:field="*{status}">
											     		<option th:value="*{status}" th:text="*{status}"></option>
											     		<option th:value="'current'" th:text="current"></option>
											    		<option th:value="'expired'" th:text="expired"></option>
											    		<option th:value="'canceled'" th:text="canceled"></option>
											    		<option th:value="'suspended'" th:text="suspended"></option>
											    	</select>    						
												</td>
			                    
			                    			</tr>
			                    			
			                    						                    			
			                    			<tr>
						                    	<td>
						                    		<label for="initialDate" class="col-form-label">Initial Date :</label> 
						                    		<input type="text" id="initialDate" th:field="*{initialDate}" size="10" maxlength="10" placeholder="Date Only" onfocus="showCalendarControl(this);"/>
						                    	</td>
						                    	<td>
						                    		<label for="finalDate" class="col-form-label">Final Date :</label> 
						                    		<input type="text" id="finalDate" th:field="*{finalDate}" size="10" maxlength="10" placeholder="Date Only" onfocus="showCalendarControl(this);"/>
						                    	</td>
						                    	          
			                    			</tr>
			                    			
			                    			<tr>
			                    				<td colspan="2">
			                    					<div class="form-group"><label for="notes">Notes/Observations:</label><br>
			      										<textarea id="notes" th:field="*{notes}" rows="4" cols="90"></textarea>
			      									</div>
			      								</td>
											
			                    			</tr>
			                    			<tr>
						                    	<td>
						                       		<input type="submit" class="btn btn-secondary btn-sm" value=" Submit ">
						                       	
						                       	</td>
			                   				</tr>
			     						</table>
			     			
			     						<input type="hidden" id="id" th:field="*{contractid}">
			     					
				     					<input type="hidden" name="qperiod" th:value="${qperiod}">
				     					<input type="hidden" name="qdivisionId" th:value="${qdivision.divisionid}">
				                        <input type="hidden" name="quserId" th:value="${quser.userid}">	
			            			</form>	 	
			  					</td>
			  					<td>
			  					
			  						<table th:if="${priznakNew}=='false'" class="table table-bordered">
  										<thead class="table-dark">
  											<tr>
  												<td>Assigned Projects</td>
  											</tr>	
  										</thead>
  										<tbody>
  											<tr th:each="assigProject : ${assigProjects}">
  												<td style="background-color:ivory; font-size:11px;" th:text="${assigProject.bufferName} +' ('+ ${assigProject.projectNum} +')'"></td>
  											</tr>
  										</tbody>
									</table>
									
									<table th:if="${priznakNew}=='false'" class="table table-bordered">
  										<thead class="table-dark">
  											<tr>
  												<td>Assigned Training</td>
  											</tr>	
  										</thead>
  										<tbody>
  											<tr th:each="assigTraining : ${assigTrainings}">
  												<td style="background-color:ivory; font-size:11px;" th:text="${assigTraining.bufferName} +' ('+ ${assigTraining.trainingNum} +')'"></td>
  											</tr>
  										</tbody>
									</table>	
										
			  					</td>
	  						</tr>	
  						</table>       				 
        				 
               		</div>
           		</div>
       		</div>
                  
     	</div>
       	
	</body>
</html>